@use './colors.scss' as colors;

%button {
    padding: 0.5rem 1rem;
    border: 0.125rem solid colors.$blue-color;
    border-radius: 0.25rem;

    display: inline-block;

    font-weight: bold;
    text-decoration: none;
    color: colors.$blue-color;

    transition: all 0.1s ease-in-out;

    &:hover {
        background-color: colors.$blue-color;

        color: #fff;

        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }
}
