$container-full-width: 73rem;

%container {
    margin: 0 auto;
    padding: 4rem 2rem;

    max-width: 100%;
    width: calc($container-full-width / 2);

    &--widget {
        padding: 2rem;
        width: $container-full-width;

        @extend %container;
    }
}
