$container-full-width: 73rem;

%container {
    margin: 0 auto;
    padding: 4rem 2rem;

    max-width: 100%;
    width: calc($container-full-width / 2);

    @media (max-width: 768px) {
        padding: 2rem 1.5rem;
    }

    &--widget {
        padding: 2rem;
        width: $container-full-width;

        @extend %container;

        @media (max-width: 768px) {
            padding: 1.5rem;
            width: calc($container-full-width / 2);
        }
    }
}
