@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'YsabeauInfant';
    src: url('/fonts/Ysabeau_Infant/static/YsabeauInfant-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
