@use '../assets/scss/_container.scss';
@use '../assets/scss/_button.scss';

.about-me {
    text-align: justify;
    font-size: 0.875rem;

    &__container {
        @extend %container;
    }

    &__title {
        font-size: 2rem;
        line-height: 1em;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__button {
        margin-top: 0.25rem;

        @extend %button;
    }
}
