@use '../assets/scss/_container.scss';
@use '../assets/scss/_button.scss';

.about-me {
    text-align: justify;

    &__container {
        @extend %container;
    }

    &__title {
        font-size: 2rem;
        line-height: 1em;
    }

    &__button {
        margin-top: 0.25rem;

        @extend %button;
    }
}
