@use '../assets/scss/colors' as colors;
@use '../assets/scss/container';

.footer {
    padding: 2rem 0;
    min-height: 12rem;

    position: relative;
    z-index: 0;

    color: #fff;

    background-color: colors.$blue-color;

    @media (max-width: 768px) {
        padding: 1rem 0;
        min-height: 7.5rem;
    }

    &__contact,
    &__copyright {
        @extend %container--widget;
    }
}

.contact {
    @media (max-width: 768px) {
        font-size: 0.875rem;
    }

    &__title {
        max-width: calc(100% - 10rem);

        font-size: 2rem;
        line-height: 1em;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__list {
        max-width: calc(100% - 10rem);
        margin: 1rem 0 0;
        padding: 0;

        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        gap: 2rem;
        list-style-type: none;

        @media (max-width: 768px) {
            max-width: calc(100% - 1rem);

            grid-auto-flow: unset;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
        }
    }

    &__name {
        font-size: 0.875rem;
    }

    &__value {
        margin: 0;
    }

    &__link {
        color: inherit;

        position: relative;

        text-decoration: none;

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 0.0125rem;
            background-color: #fff;

            transition: width 0.1s ease-in-out;
        }

        &:hover,
        &:focus {
            &::before {
                width: 100%;
            }
        }
    }
}

.copyright {
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    transform: translate(-50%, -50%);

    &__value {
        margin: 0;
        width: 10rem;
        height: 10rem;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        text-align: center;

        background-color: inherit;

        transform: rotate(270deg);

        @media (max-width: 768px) {
            width: 7.5rem;
            height: 1rem;

            font-size: 0.875rem;

            transform: rotate(270deg) translateY(3.25rem);
        }
    }
}
